body {
  background-color: #fff4e9;
}

#logo-preloader {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-size: 101%;
  background-position: bottom;
  background-color: #ff795c;
  z-index: 9;
}

header {
  height: 331px;
  background-size: 225%;
  background-position: top center;
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
}

.logo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: -58px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-size: 10vw;
}

h4 {
  font-size: 0.5em;
}

main {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#map {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

form {
  width: 100%;
  text-align: center;
}

label#label-filter {
  font-weight: bold;
  text-transform: uppercase;
  color: #ff795c;
}

input#inpt-filter {
  padding: 10px;
  width: 71%;
  box-sizing: border-box;
  border: 1px solid #dac8c5;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 1px 1px 1px #dac8c5;
}

input#btn-filter {
  width: 26%;
  box-sizing: border-box;
  padding: 14px 0px;
  background-color: #ff795c;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 9pt;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.item {
  width: 47%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 2px 2px 4px #cacaca9e;
  border-radius: 10px;
}

.item img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

span.title {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 11pt;
}

.modal-body span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.9em;
}

img.thumb-modal {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal-footer {
  justify-content: center;
}

.btn-modal {
  color: #fff;
  background-color: #ff795c;
  border-color: #ff795c;
}

@media (min-width: 1200px) {
  header {
    background-size: 100%;
    height: 51vh;
  }

  h1 {
    font-size: 5vw;
  }

  main {
    width: 1000px;
    margin: 30px auto;
  }
}
